<?xml version="1.0"?>
<config>
    <modules>
        <Amasty_Hello>
            <version>0.1.0</version>
        </Amasty_Hello>
    </modules>
    <frontend>
        <routers>
            <hello>
                <use>standard</use>
                <args>
                    <module>Amasty_Hello</module>
                    <frontName>welcome</frontName>
                </args>
            </hello>
        </routers>
    </frontend>
</config>