<?xml version="1.0"?>
<config>
    <modules>
        <Opsway_OrderedProducts>
            <version>0.1.0</version>
        </Opsway_OrderedProducts>
    </modules>
    <global>
        <blocks>
            <opsway_orderedproducts>
                <class>Opsway_OrderedProducts_Block</class>
            </opsway_orderedproducts>
        </blocks>
        <helpers>
            <opsway_orderedproducts>
                <class>Opsway_OrderedProducts_Helper</class>
            </opsway_orderedproducts>
        </helpers>
        <models>
            <opsway_orderedproducts>
                <class>Opsway_OrderedProducts_Model</class>
            </opsway_orderedproducts>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <opsway_orderedproducts>
                    <file>ordered.xml</file>
                </opsway_orderedproducts>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <orderedproducts_options>
                                            <title>Ordered Products Configuration Section</title>
                                        </orderedproducts_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>