<?xml version="1.0"?>
<config>
    <modules>
        <Opsway_Subscription>
            <version>0.1.3</version>
        </Opsway_Subscription>
    </modules>
    <frontend>
        <routers>
            <subscription>
                <use>standard</use>
                <args>
                    <module>Opsway_Subscription</module>
                    <frontName>subscription</frontName>
                </args>
            </subscription>
        </routers>
        <layout>
            <updates>
                <subscription>
                    <file>subscription.xml</file>
                </subscription>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <subscription>
                <class>Opsway_Subscription_Helper</class>
            </subscription>
        </helpers>
        <blocks>
            <subscription>
                <class>Opsway_Subscription_Block</class>
            </subscription>
        </blocks>
        <models>
            <subscription>
                <class>Opsway_Subscription_Model</class>
                <resourceModel>subscription_mysql4</resourceModel>
            </subscription>
            <subscription_mysql4>
                <class>Opsway_Subscription_Model_Mysql4</class>
                <entities>
                    <ticket>
                        <table>subs</table>
                    </ticket>
                </entities>
            </subscription_mysql4>
        </models>
        <resources>
            <subscription_setup>
                <setup>
                    <module>Opsway_Subscription</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </subscription_setup>
            <subscription_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </subscription_write>
            <subscription_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </subscription_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Opsway_Subscription after="Mage_Adminhtml">Opsway_Subscription_Adminhtml</Opsway_Subscription>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <!--<layout>-->
            <!--<updates>-->
                <!--<amasty_subscription>-->
                    <!--<file>amasty/subscription.xml</file>-->
                <!--</amasty_subscription>-->
            <!--</updates>-->
        <!--</layout>-->
        <menu>
            <subscription translate="title" module="subscription">
                <title>Advanced Subscription</title>
                <sort_order>100</sort_order>
                <children>
                    <list module="subscription">
                        <title>List of Subscription</title>
                        <action>adminhtml/subscription</action>
                    </list>
                </children>
            </subscription>
        </menu>
    </adminhtml>
</config> 